.block-content {
    position: relative;

    &.content-media {
        .block-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .content-container, .media-container {
                flex: 1 1 50%;

                @each $key, $width in $widthRatios {
                    &.width-#{$key} {
                        flex-basis: $width;
                    }
                }

                @each $value in $horizontalAlign {
                    &.align-#{$value} {
                        @if($value == left){
                            order: 1;
                        }
                        @if($value == right){
                            order: 2;
                        }
                    }
                }
            }
        }
    }
}
